/* src/components/Header.css */
.header-container {
  text-align: center;
  padding: 40px;
  background-color: #fff; /* Ensure the background is white */
}

.header-logo {
  max-width: 50%; /* Adjust to fit the width */
  height: auto;
  margin: 0 auto;
  display: block;
}
