.header.logo {
  max-width: 600px;
  width: 100%;
  margin-bottom: 20px;
}

.header {
  text-align: center;
}

.header-container {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: auto;
  padding-top: 10px;
}

.icon-back {
  display: inline-flex;
  text-align: center;
  color: grey;
  padding-right: 10px;
}
