.archive-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 80px;
  background-color: white;
  justify-content: center;
}

.archive-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid grey;
  transition: transform 0.3s ease;
}

.archive-item:hover {
  transform: scale(1.05);
}

.archive-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.archive-title {
  font-size: 18px;
  font-weight: lighter;
  color: black;
  margin: 0;
}

@media (max-width: 768px) {
  .archive-container {
    grid-template-columns: 1fr 1fr; /* 2 columns on smaller screens */
    justify-content: center; /* Sicherstellen, dass der Inhalt in der Mitte bleibt */
  }
}

@media (max-width: 480px) {
  .archive-container {
    grid-template-columns: 1fr; /* 1 column on very small screens */
    justify-content: center; /* Zentrieren bei einem Element */
  }
}

.archive-container:only-child,
.archive-container:has(.archive-item:only-child) {
  display: flex;
  justify-content: center;
  align-items: center;
}
